<!DOCTYPE html>
<html ng-app="app">
    <head>
        <meta charset="utf-8">
        <title>app</title>
        <base href="/"/>
        <link rel="stylesheet" href="/lib/css/style.css">

    </head>
    <body>
        <h1>You have reached the index page!</h1>

        <ng-view></ng-view>


<script src="/lib/angular/angular.min.js" charset="utf-8"></script>
<script src="/lib/angular-resource/angular-resource.min.js" charset="utf-8"></script>
<script src="/lib/angular-route/angular-route.min.js" charset="utf-8"></script>


<script src="/lib/javascript/app.js" charset="utf-8"></script>
<script src="/lib/javascript/controllers/HomeController.js" charset="utf-8"></script>
<script src="/lib/javascript/Services/HomeService.js" charset="utf-8"></script>


    </body>
</html>
